html {
  color: #fafafa;
  background-color: #141414;
  font-family: "Helvetica Neue", Meiryo, sans-serif;
}

header {
  display: flex;
}

table, th, td {
  border: none;
  border-collapse: collapse;
}

.button {
  color: #4e5d6f;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

menu {
  background-color: #141414;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #4e5d6f;
  width: fit-content;
}


menu a {
  cursor: pointer;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.2em 1em;
  min-width: 8em;
  border-bottom: thick solid transparent;
}

#top-menus, #menus {
  display: flex;
  flex-direction: column;
}

#save-load-text[data-state="inactive"] {
  display: none;
}

#save-load-text {
  padding: 1em;
}

#save-load-textarea {
  width: 100%;
  height: 8em;
}

.save-load-buttons {
  display: flex;
}

.save-load-buttons .button {
  text-align: center;
}

.selected {
  display: block;
  border-bottom: thick solid #edf;
}

.dropdown, .dropdown menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dropdown {
  width: 100%;
}

@media (hover) {
  #top-menus, #menus {
    flex-direction: row;
  }

  menu {
    position: absolute;
  }

  menu a {
    display: none;
  }

  .selected {
    display: none;
  }

  .dropdown, .dropdown menu {
    flex-direction: column;
  }

  .dropdown {
    flex: 1;
    max-width: 6em;
    padding: 0.4em 0.2em;
  }

  #char-tabs {
    max-width: 8em;
  }

  #category-tabs {
    max-width: 12em;
  }

  #star-tabs {
    max-width: 3em;
  }

  .dropdown:hover menu {
    display: flex;
  }

  menu:hover .selected, .dropdown:hover .selected {
    display: block;
  }

  menu:hover a, .dropdown:hover a {
    display: block;
  }
}

td {
  padding: 0.2em 0.5em;
  text-align: right;
  white-space: nowrap;
}

tbody tr:nth-child(odd) {
  background-color: #000;
}

td.Weight {
  color: #4e5d6f;
}

td.hasStar {
  border-right: none;
}

td.isStar {
  color: #8d8d8d;
  border-left: none;
}

nav ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.nav-selected {
  border-bottom: thin solid;
}

nav a {
  padding-left: 0.5em;
  padding-right: 1.5em;
}

.name, nav a {
  color: #80c3f5;
  text-align: left;
  overflow: hidden;
}

.Acc {
  text-align: left;
}

.Dmg {
  padding-right: 0;
  border-left: none;
  border-right: none;
}

.Rel.hasStar, .Rel[colspan="2"] {
  border-left: none;
}

.RoF {
  padding-right: 0;
  border-right: none;
}

.P, .CR {
  border-right: none;
}

th.P, th.CR {
  color: transparent;
}

.Count {
  border-left: none;
  border-right: none;
  padding-right: 0;
  text-align: left;
}
.Count::before {
  content: 'x ';
}

.Falloff {
  border-left: none;
  border-right: none;
  padding-right: 0;
  text-align: left;
}
.Falloff::before {
  content: '~ ';
}

.spacer {
  flex: 1;
}

.Filler {
  border-left: none;
  border-right: none;
  padding-left: 0;
  padding-right: 0;
}

.DmgEnd {
  padding-right: 0.5em;
}

.ranger b, .dlc2 b, .Inferno, .lowOdds, .edf3 b, .edf3p b, .ja b, .weapons b, .damage-type.flame, .status-effect.flame {
  color: #e88;
}
.winger b, .off b, .Normal, .edf5 b, .en b, .rank-C, .edfir b {
  color: #88e;
}
.bomber b, .on b, .Hard, .highOdds, .edf4 b, .edf41 b, .edfia b, .items b, .rank-D, .status-effect.poison, #save-load-import {
  color: #8e8;
}
.fencer b, .dlc1 b, .edf2 b, .edf2pv2 b {
  color: #ea8;
}

.short b, .spear b, .heli b, .stats b, .limpet b, .booster b, .repair b, .sword b, .star-10, .star-5, .edf1 b, .damage-type.physical {
  color: #eee;
}
.assault b, .laser b, .light b, .gunship b {
  color: #e88;
}
.shotgun b, .electro b, .shield b, .support b, .bike b, .ground b, .protector b {
  color: #8e8;
}
.sniper b, .heavy b, .satellite b, .muzzle b {
  color: #88e;
}
.rocket b, .particle b, .hammer b, .dlc, .planes b, .tank b, .rank-AA, .Hardest, .damage-type.optics, .status-effect.shock {
  color: #ee8;
}
.missile b, .guide b, .na {
  color: #a8e;
}
.grenade b, .plasma b, .raid b, .artillery b, .rank-A {
  color: #ea8;
}
.special b, .super b, .rank-B, .status-effect.recover, .status-effect.recovertime, #save-load-toggle b {
  color: #e8a;
}
.edf6 b, .deploy b, .gatling b, .Easy, .starter, .star-0 {
  color: #8aa
}
.mech b, .core b, .equipment b, .exo b, .thrower b {
  color: #e8e;
}
.bomb b, .trap b, .droneguard b {
  color: #ae8;
}
.railgun b, .status-effect.frozen, .cannon b, .handgrenade b, .cannon b, .droneshooter b {
  color: #8ae;
}
.specialgrenade b, .submissile b, .dronechaser b {
  color: #8ea;
}
.saber b, .droneauto b {
  color: #aaa;
}

@media only screen and (max-width: 540px) {
  .name {
    width: 6em;
    text-align: right;
    direction: rtl;
  }
}
