html {
  color: #fafafa;
  background-color: #141414;
  font-family: "Helvetica Neue", Meiryo, sans-serif;
}

menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #4e5d6f;
}

menu li {
  cursor: pointer;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  padding: 0.5em; }

td {
  padding: 0 0.2em;
  text-align: right;
  white-space: nowrap;
}

.name {
  color: #80c3f5;
  text-align: left;
  width: 15em;
  overflow: hidden;
}

.ranger b {
  color: #e88;
}
.winger b {
  color: #88e;
}
.bomber b {
  color: #8e8;
}
.fencer b {
  color: #ea8;
}

.short b, .spear b, .heli b {
  color: #eee;
}
.assault b, .laser b, .light b, .ground b {
  color: #e88;
}
.shotgun b, .electro b, .shield b, .support b {
  color: #8e8;
}
.sniper b, .heavy b, .limpet b {
  color: #88e;
}
.rocket b, .particle b, .hammer b, .tank b {
  color: #ee8;
}
.missile b, .guide b {
  color: #a8e;
}
.grenade b, .plasma b, .raid b {
  color: #ea8;
}
.special b {
  color: #e8a;
}
.deploy b {
  color: #8aa;
}
.mech b {
  color: #e8e;
}

.selected {
  border-bottom: thick solid #edf;
}

@media only screen and (max-width: 540px) {
  .name {
    width: 6em;
    text-align: right;
    direction: rtl;
  }
}
