html {
  color: #fafafa;
  background-color: #141414;
  font-family: "Helvetica Neue", Meiryo, sans-serif;
}

header {
  display: flex;
}

table, th, td {
  border: 1px solid #4e5d6f;
  border-collapse: collapse;
}

.button {
  color: #4e5d6f;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

menu {
  background-color: #141414;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #4e5d6f;
  width: fit-content;
}

menu a {
  cursor: pointer;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.2em 1em;
  min-width: 8em;
  border-bottom: thick solid transparent;
}

#top-menus, #menus {
  display: flex;
  flex-direction: column;
}

.selected {
  display: block;
  border-bottom: thick solid #edf;
}

.dropdown, .dropdown menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dropdown {
  width: 100%;
}

@media (hover) {
  #top-menus, #menus {
    flex-direction: row;
  }

  menu {
    position: absolute;
  }

  menu a {
    display: none;
  }

  .selected {
    display: none;
  }

  .dropdown, .dropdown menu {
    flex-direction: column;
  }

  .dropdown {
    flex: 1;
    max-width: 6em;
    padding: 0.4em 0.2em;
  }

  #char-tabs {
    max-width: 8em;
  }

  #category-tabs {
    max-width: 12em;
  }

  #star-tabs {
    max-width: 3em;
  }

  .dropdown:hover menu {
    display: flex;
  }

  menu:hover .selected, .dropdown:hover .selected {
    display: block;
  }

  menu:hover a, .dropdown:hover a {
    display: block;
  }
}

td {
  padding: 0.2em 0.5em;
  text-align: right;
  white-space: nowrap;
}

tbody tr:nth-child(odd) {
  background-color: #000;
}

td.Weight {
  color: #4e5d6f;
}

td.hasStar {
  border-right: none;
}

td.isStar {
  color: #8d8d8d;
  border-left: none;
}

.name {
  color: #80c3f5;
  text-align: left;
  overflow: hidden;
}

.Acc {
  text-align: left;
}

.Dmg {
  padding-right: 0;
  border-left: none;
  border-right: none;
}

.RoF {
  padding-right: 0;
  border-right: none;
}

.P {
  border-right: none;
}

th.P {
  color: transparent;
}

.Count {
  border-left: none;
  border-right: none;
  padding-right: 0;
  text-align: left;
}
.Count::before {
  content: 'x ';
}

.Falloff {
  border-left: none;
  border-right: none;
  padding-right: 0;
  text-align: left;
}
.Falloff::before {
  content: '~ ';
}

.spacer {
  flex: 1;
}

.Filler {
  border-left: none;
  border-right: none;
  padding-left: 0;
  padding-right: 0;
}

.DmgEnd {
  padding-right: 0.5em;
}

.ranger b, .dlc2 b, .Inferno, .lowOdds, .ja b {
  color: #e88;
}
.winger b, .off b, .Normal, .edf5 b, .en b {
  color: #88e;
}
.bomber b, .on b, .Hard, .highOdds, .edf41 b {
  color: #8e8;
}
.fencer b, .dlc1 b {
  color: #ea8;
}

.short b, .spear b, .heli b, .stats b, .limpet b, .booster b, .star-10, .star-5 {
  color: #eee;
}
.assault b, .laser b, .light b, .gunship b {
  color: #e88;
}
.shotgun b, .electro b, .shield b, .support b, .bike b, .ground b, .protector b {
  color: #8e8;
}
.sniper b, .heavy b, .satellite b, .muzzle b {
  color: #88e;
}
.rocket b, .particle b, .hammer b, .dlc, .planes b, .tank b, .Hardest {
  color: #ee8;
}
.missile b, .guide b, .na {
  color: #a8e;
}
.grenade b, .plasma b, .raid b, .artillery b {
  color: #ea8;
}
.special b, .super b {
  color: #e8a;
}
.deploy b, .Easy, .starter, .star-0 {
  color: #8aa
}
.mech b, .core b, .equipment b, .exo b {
  color: #e8e;
}

@media only screen and (max-width: 540px) {
  .name {
    width: 6em;
    text-align: right;
    direction: rtl;
  }
}
