nav#links
  ul
    li.nav-selected
      a(href='/') Earth Defense Force
    li |
    li
      a(href='https://atwiki.jp/edf6') Japanese EDF Wiki
    li.spacer
    if !isLoading
      li#save-load-toggle
        .button(onclick="toggleSave()") Save <b>Data</b>

if saveLoadState && !isLoading
  include ./saving.pug

if isLoading
  .loading Loading...
else
  include ./menus.pug

  if mode.id === 'stats' && cat && tables
    include ./stats.pug

  else if mode.hasDrops
    include ./drops.pug

  else if mode.hasEnemies
    include ./enemies.pug

  else
    p Whatever this mode is, it's not implemented
