mixin dropdownItem(item)
  if item.label
    != item.label
  else
    != slice3(item.name)

mixin dropdown(scope, list, selection)
  .dropdown
    .button(class={ [selection.class || selection.id]: true })
      +dropdownItem(selection)
    menu
      each item in list
        a(onclick=`selectItem('${scope}', '${item.id}')`
          class={ [item.class || item.id]: true, selected: selection.id === item.id }
        )
          +dropdownItem(item)

header#top-menus
  +dropdown('game', games, game)
  if modes
    +dropdown('mode', modes, mode)
  .spacer
  if langs
    +dropdown('lang', langs, lang)
