:root {
  --faded-text: #4e5d6f;
  --text-color-main: #fafafa;
  --background-color-main: #141414;
  --name-color: #80c3f5;
  --star-color: #8d8d8d;
  --zebra-stripe-color: #000;

  --clr-ranger-red: #e88;
  --clr-winger-blue: #88e;
  --clr-bomber-green: #8e8;
  --clr-fencer-orange: #ea8;
  --clr-superstar-white: #eee;
  --clr-rifle-red: #e88;
  --clr-shotgun-green: #8e8;
  --clr-sniper-blue: #88e;
  --clr-rocket-blast: #ee8;
  --clr-missile-magenta: #a8e;
  --clr-grenade-splash: #ea8;
  --clr-special-spruce: #e8a;
  --clr-gritty-military: #8aa;
  --clr-scifi-punk: #e8e;
  --clr-trapper-tank: #ae8;
  --clr-cool-ice: #8ae;
  --clr-nanobots: #8ea;
  --clr-lightsaber: #aaa;
}

.light-mode {
  --text-color-main: #2d3142;
  --background-color-main: #edf6f9;
  --zebra-stripe-color: #bfc0c0;
  --name-color: #3a7ca5;
  --star-color: #000;

  --clr-bomber-green: #40916c;
  --clr-shotgun-green: #2d6a4f;
  --clr-rocket-blast: #e09f3e;
}

.light-mode .level {
  font-weight: bold;
}

body {
  color: var(--text-color-main);
  background-color: var(--background-color-main);
  font-family: "Helvetica Neue", Meiryo, sans-serif;
}

header {
  display: flex;
}

table, th, td {
  border: none;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0px;
  background-color: var(--background-color-main);
}

.button {
  color: var(--faded-text);
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

menu {
  background-color: var(--background-color);
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--faded-text);
  width: fit-content;
}


menu a {
  cursor: pointer;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.2em 1em;
  min-width: 8em;
  border-bottom: thick solid transparent;
}

#top-menus, #menus {
  display: flex;
  flex-direction: column;
}

#save-load-text[data-state="inactive"] {
  display: none;
}

#save-load-text {
  padding: 1em;
}

#save-load-textarea {
  width: 100%;
  height: 8em;
}

.save-load-buttons {
  display: flex;
}

.save-load-buttons .button {
  text-align: center;
}

.selected {
  display: block;
  border-bottom: thick solid #edf;
}

.dropdown, .dropdown menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dropdown menu {
  background-color: var(--background-color-main);
  z-index: 100;
}

.dropdown {
  width: 100%;
}

@media (hover) {
  #top-menus, #menus {
    flex-direction: row;
  }

  menu {
    position: absolute;
  }

  menu a {
    display: none;
  }

  .selected {
    display: none;
  }

  .dropdown, .dropdown menu {
    flex-direction: column;
  }

  .dropdown {
    flex: 1;
    max-width: 6em;
    padding: 0.4em 0.2em;
  }

  #char-tabs {
    max-width: 8em;
  }

  #category-tabs {
    max-width: 12em;
  }

  #star-tabs {
    max-width: 3em;
  }

  #mission-input {
    max-width: 3em;
  }

  .dropdown:hover menu {
    display: flex;
  }

  menu:hover .selected, .dropdown:hover .selected {
    display: block;
  }

  menu:hover a, .dropdown:hover a {
    display: block;
  }
}

td {
  padding: 0.2em 0.5em;
  text-align: right;
  white-space: nowrap;
}

tbody tr:nth-child(odd) {
  background-color: var(--zebra-stripe-color);
}

td.Weight {
  color: var(--faded-text);
}

td.hasStar {
  border-right: none;
}

nav ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.nav-selected {
  border-bottom: thin solid;
}

nav a {
  padding-left: 0.5em;
  padding-right: 1.5em;
}

.name, nav a {
  color: var(--name-color);
  text-align: left;
  overflow: hidden;
}

.Acc {
  text-align: left;
}

.Dmg {
  padding-right: 0;
  border-left: none;
  border-right: none;
}

.Rel.hasStar, .Rel[colspan="2"] {
  border-left: none;
}

.RoF {
  padding-right: 0;
  border-right: none;
}

.P, .CR {
  border-right: none;
}

th.P, th.CR {
  color: transparent;
}

.Count {
  border-left: none;
  border-right: none;
  padding-right: 0;
  text-align: left;
}
.Count::before {
  content: 'x ';
}

.Falloff {
  border-left: none;
  border-right: none;
  padding-right: 0;
  text-align: left;
}
.Falloff::before {
  content: '~ ';
}

.star {
  color: var(--star-color);
  padding-left: 0em;
  padding-right: 0.2em;
}

.star::before {
  content: '☆';
}

.star.max::before {
  content: '★';
}

.spacer {
  flex: 1;
}

.Filler {
  border-left: none;
  border-right: none;
  padding-left: 0;
  padding-right: 0;
}

.DmgEnd {
  padding-right: 0.5em;
}

.ranger b, .dlc2 b, .Inferno, .lowOdds, .edf3 b, .edf3p b, .ja b, .weapons b, .damage-type.flame, .status-effect.flame {
  color: var(--clr-ranger-red);
}
.winger b, .off b, .Normal, .edf5 b, .en b, .rank-C, .edfir b, #save-load-copy {
  color: var(--clr-winger-blue);
}
.bomber b, .on b, .Hard, .highOdds, .edf4 b, .edf41 b, .edfia b, .items b, .rank-D, .status-effect.poison, #save-load-import {
  color: var(--clr-bomber-green);
}
.fencer b, .dlc1 b, .edf2 b, .edf2pv2 b {
  color: var(--clr-fencer-orange);
}

.short b, .spear b, .heli b, .stats b, .limpet b, .booster b, .repair b, .sword b, .star-10, .star-5, .edf1 b, .damage-type.physical {
  color: var(--clr-clr-superstar-white);
}
.assault b, .laser b, .light b, .gunship b {
  color: var(--clr-rifle-red);
}
.shotgun b, .electro b, .shield b, .support b, .bike b, .ground b, .protector b {
  color: var(--clr-shotgun-green);
}
.sniper b, .heavy b, .satellite b, .muzzle b {
  color: var(--clr-sniper-blue);
}
.rocket b, .particle b, .hammer b, .dlc, .planes b, .tank b, .rank-AA, .Hardest, .damage-type.optics, .status-effect.shock, .scaling b {
  color: var(--clr-rocket-blast);
}
.missile b, .guide b, .na {
  color: var(--clr-missile-magenta);
}
.grenade b, .plasma b, .raid b, .artillery b, .rank-A {
  color: var(--clr-grenade-splash);
}
.special b, .super b, .rank-B, .status-effect.recover, .status-effect.recovertime, #save-load-toggle b, .edfwdts b {
  color: var(--clr-special-spruce);
}
.edf6 b, .deploy b, .gatling b, .Easy, .starter, .star-0 {
  color: var(--clr-gritty-military);
}
.mech b, .core b, .equipment b, .exo b, .thrower b {
  color: var(--clr-scifi-punk);
}
.bomb b, .trap b, .droneguard b {
  color: var(--clr-trapper-tank);
}
.railgun b, .status-effect.frozen, .cannon b, .handgrenade b, .cannon b, .droneshooter b {
  color: var(--clr-cool-ice);
}
.specialgrenade b, .submissile b, .dronechaser b, {
  color: var(--clr-nanobots);
}
.saber b, .droneauto b {
  color: var(--clr-lightsaber);
}

@media only screen and (max-width: 540px) {
  .name {
    width: 6em;
    text-align: right;
    direction: rtl;
  }
}

.to {
  border-right: thin dotted var(--faded-text);
}

.duplicate td {
  background: red;
}
